* { margin: 0;
padding: 0;
box-sizing: border-box;}

body {
    background: radial-gradient(circle at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.score-header {
    width: 700px;
    border: 1px solid white;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    height: 150px;      
}

.container { 
    display: flex; 
    flex-direction: column;
    align-items:center;
}

.score {
    width: 120px;
    height: 110px;
    background-color: #fff;
    border-radius: 8px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-left: 20px;
}

.score p { 
    color: hsl(229, 64%, 46%);
    letter-spacing: 2px;
    line-height: 15px;
}
.score h1 {
    color: hsl(229, 25%, 31%);
    font-size: 48px;
}

.hand {
    border-radius: 50%;
    box-shadow: 4px 4px 2px #7f7b7b56 inset;
    padding: 20px;
    background-color: #fff;
    height: 150px;
    position: absolute;
}

.hand-image {
    position: relative;
    top: 10px;
    margin-right: 10px;
    margin-left: 8px;
    height: 60px;
}
.paper {
    border: 20px solid hsl(230, 89%, 62%);
    margin-right: -130px;
    position: relative;
    left: -180px;
    margin-top: -60px;

}

.scissors {
    border: 20px solid hsl(39, 89%, 49%);
    margin-left: 270px;
    margin-top: -60px;
}  

.rock {
    border: 20px solid hsl(349, 71%, 52%);
    margin-left: 0px;
    margin-top: 140px;   
}

.hands {
    width: 270px;
    height: 303px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
    background-image: url(/images/bg-triangle.svg);
    background-repeat: no-repeat;
    background-size: 280px 230px;
    position: absolute;
    top: 240px;
}
