* { margin: 0;
padding: 0;
box-sizing: border-box;}

body {
    background: radial-gradient(circle at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.score-header {
    width: 700px;
    border: 1px solid white;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    height: 150px;      
}

.container { 
    display: flex; 
    flex-direction: column;
    align-items:center;
}

.score {
    width: 120px;
    height: 110px;
    background-color: #fff;
    border-radius: 8px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-left: 20px;
}

.score p { 
    color: hsl(229, 64%, 46%);
    letter-spacing: 2px;
    line-height: 15px;
}
.score h1 {
    color: hsl(229, 25%, 31%);
    font-size: 48px;
}

.hand {
    border-radius: 50%;
    box-shadow: 4px 4px 2px #7f7b7b56 inset;
    padding: 20px;
    background-color: #fff;
    height: 150px;
    position: absolute;
}

.hand-image {
    position: relative;
    top: 10px;
    margin-right: 10px;
    margin-left: 8px;
    height: 60px;
}
.paper {
    border: 20px solid hsl(230, 89%, 62%);
    margin-right: -130px;
    position: relative;
    left: -180px;
    margin-top: -60px;

}

.scissors {
    border: 20px solid hsl(39, 89%, 49%);
    margin-left: 270px;
    margin-top: -60px;
}  

.rock {
    border: 20px solid hsl(349, 71%, 52%);
    margin-left: 0px;
    margin-top: 140px;   
}

.hands {
    width: 270px;
    height: 303px;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
    background-image: url(/images/bg-triangle.svg);
    background-repeat: no-repeat;
    background-size: 280px 230px;
    position: absolute;
    top: 240px;
}
#rules {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 30px;
  border-radius: 10px;
  background: none;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
  z-index: 10;
  padding-bottom: 25px;
  padding-right: 40px;
  padding-left: 40px;
}
.modal.active{
  transform: translate(-50%, -50%) scale(1);
}
.modal-header {
  padding: 40px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header .title {
  font-size: 2em;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 4em;
  color: grey;
}

.modal-body {
  padding: 20px;
}
#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
#overlay.active {
  opacity: 1;
  pointer-events: all;
}
.rslt {
  position: relative;
  display: flex;
  align-items:center;
  justify-content: center;
  margin-top: 50px;
}
.winner {
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  
}
.middleText{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
.yourSide{
  color: white;
  border: 30px solid blue;
  width: 250px;
  height: 250px;
}
.yourSide_text {
  padding-bottom: 30px;
  padding-top: 60px;
  color: white;
  font-size: 10px;
}
.middlePart {
  padding:15px;
  color: white;
}

#winner_text {
  font-size: 20px;
}

#playAgain_btn {
  color:red;
  width: 160px;
  height: 40px;
  background-color: white;
  border-radius: 10px;
  display:flex;
  align-items: center;
  justify-content: center;
}
#imgHolder {
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
}

#imgHolderComputer {
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
}
.img {
  width: 90px;
}